/*Background image and navigation bar stuff are in this file*/
/* Courtesy: W3Schools for the help for the nav bar */  
.background_image{
	background: url('My pictures/background_img.jpg');
	min-height: 710px;
	background-position: center;
	background-repeat: no-repeat;
	background-size: cover;
	
	/* Needed to position the navbar */
	position: relative;
}


/* Position the navbar container inside the image */
.container {
  position: absolute;
  margin: 20px;
  width: auto;
}

/* The navbar */
#topnav {
  top: 650px;
  z-index: 2;
  position: fixed;
  overflow: hidden;
  display: block;
  background-color: #333;
  transition: top 1s;

}

/* Navbar links */
#topnav a {
  float: left;
  display: block;
  color: #f2f2f2;
  text-align: center;
  padding: 14px 20px;
  text-decoration: none;
  font-size: 17px;
}

#topnav a:hover {
  background-color: #ddd;
  color: black;
}

@media screen and (max-width: 600px) {
  #topnav a {
    float: none;
    width: 100%;
  }
}
/* Navbar links */
.main_header{
  padding-top: 430px;
  color: white;
	text-align: center;
}

.grid_holder{
  background-color:  rgb(48, 60, 66);
  display: grid;
  padding:20px;
  grid-row: 10px columngap;
  grid-template-columns: 200px 200px auto auto;
}

.grid_item{
  background-color: white;
  font-size: 20px;
  padding: 20px;
  text-align: center;
}
