h1{
	padding: 50px;
	font-family: Verdana, Geneva, Tahoma, sans-serif;
	color: blue;
	text-align: center;
	background-color: gold;
	size: 100%;

}
p{
	font-size: large;
	text-align: center;
}
body{
	background-color: lightcyan;
}
#spec1{
	font-size: large;
	color: burlywood;
}
table{
	border: 2px solid rgb(155, 91, 104);
	border-collapse: collapse;
	width: 90%;

}
#table2{
	margin-top: 20px;
}
button{
	width:10%;
	background-color: lightgray;
}
button:hover{
	background-color: lightgoldenrodyellow;
}

td, th{
	border: 1px solid black;
	background-color: lightgoldenrodyellow;
	padding: 5px;
	text-align: center;
}
th{
	background-color: lightgray;
}

form{
	margin-top: 10px;
	border: 1px solid black;
	padding-left: 5px;
}

.special{
	font-weight: bold;
	color: maroon;
}
#personal{
	font-size: medium;
	color: black;
}
#th{
	font-size: large;
	color: crimson;
}
#contact_me{
	margin-top: 20px;
}
body{
	margin-bottom: 40px;
}