#headers{
	padding: 50px;
	font-family: Verdana, Geneva, Tahoma, sans-serif;
	text-align: center;
	background-color: mediumslateblue;
	font-style: normal;
	color: white;
}

p{
	font-size: large;
}
body{
	background-color: lightcyan;
}
#spec1{
	font-size: large;
	color: burlywood;
}
table{
	border: 2px solid rgb(155, 91, 104);
	border-collapse: collapse;

}
#table2{
	margin-top: 20px;
	width: 70%;
}
button{
	width:10%;
	background-color: lightgray;
}
button:hover{
	background-color: lightgoldenrodyellow;
}

td, th{
	border: 1px solid black;
	padding: 5px;
	text-align: center;
}
th{
	background-color: lightgoldenrodyellow;
}
#section1{
	text-align: center;
	font-size: large;
	@media (max-width: 500 px) {
		p::before{
			content: "Welcome to Nasif Hossain's website!";
		}
	}
}

form{
	padding: 40px;
	margin-top: 10px;
	padding-left: 5px;
	text-align: center;
}
h4{
	background-color: turquoise;
	text-align: center;
	padding-top: 10px;
	padding: 10px;
}

.spec{
	margin-top: 40px;
}
.special{
	font-weight: bold;
	color: maroon;
}
#personal{
	font-size: medium;
	color: black;
}
.project_container{
	display: flex;
	flex-wrap: wrap;
}
.project_container > div {
	font-size: 20px;
	margin: 20px;
	padding: 20px;
	width: 200px;
}
#th{
	font-size: large;
	color: crimson;
}
#contact_me{
	margin-top: 20px;
}
body{
	margin-bottom: 40px;
}

#message{
	size: 100px;
}